<div class="container">
    <div class="content">
        <div id="board" class="board">
            <div class="row1">
                <div id="cardRecursos" class="card-recursos">
                    <p>Recursos</p>
                    <p>R$ 10.0000</p>
                </div>
                <div id="cardDespesas" class="card-despesas">
                    <p>Despesas</p>
                    <p>R$ 10.0000</p>
                </div>
            </div>
            <div class="row2">
                <div id="cardCartao" class="card-cartao">
                    <p>Cartão de crédito</p>
                    <p>R$ 10.0000</p>
                </div>
                <div id="cardConta" class="card-conta">
                    <p>Contas</p>
                    <p>R$ 10.0000</p>
                </div>
            </div>
        </div>
    </div>
</div>
