<div class="container">
    <div class="content">
        <div class="dashboard">
            <div class="lateral-esquerda">
                <div id="logo">
                    <h1>Easy</h1>
                    <p class="fin">Finanças</p>
                </div>
                <button id="novoRegistro" class="novo-registro">Novo</button>
                <div id="listaOpcoes" class="lista-opcoes">
                    <li>Dashboard</li>
                    <li>Recursos</li>
                    <li>Despesas</li>
                    <li>Contas</li>
                    <li>Cartão de crédito</li>

                </div>
            </div>
            <div class="center">
                <app-board></app-board>
            </div>
        </div>
    </div>
</div>