<a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalCartao" data-bs-whatever="@mdo">
    <button type="button" class="btn btn-outline-primary btn-size-add-cc">+</button>
</a>

<!-- MODAL CADASTRO CARTAO DE CREDITO -->
<div id="modal" class="modal fade modal-fullscreen-md-down" id="modalCartao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo cartão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formAdicionarCartao">
                    <label for="conta-saldo">Nome:</label>
                    <input type="text" id="conta-saldo" class="form-control" formControlName="nome">

                    <div class="row">
                        <div class="mb-3 col ">
                            <label for="conta-name " class="col-form-label">Limite:</label>
                            <input type="text " class="form-control " id="conta-name " formControlName="limite" maxlength="15">
                        </div>
                        <div class="mb-3 col dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  Bandeira
                                  <label value=""></label>
                                </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li value="master">
                                    <a class="dropdown-item center"><img class="iconBandeiraCC" src="/assets/images/bandeiraCartoes/MasterCard.png" /></a>
                                </li>
                                <li value="visa">
                                    <a class="dropdown-item center"><img class="iconBandeiraCC" src="/assets/images/bandeiraCartoes/visa.png" /></a>
                                </li>
                                <li value="amex">
                                    <a class="dropdown-item center"><img class="iconBandeiraCC" src="/assets/images/bandeiraCartoes/americanexpress.png" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="mb-3 col ">
                            <label for="conta-tipo " class="col-form-label ">Conta:</label>
                            <select type="select " class="form-control form-select " id="conta-tipo " formControlName="banco">
                                <option selected value="carteira">Carteira</option>
                                <option>Contas+</option>
                              </select>
                        </div>
                        <div class="mb-3 col ">
                            <label for="message-text " class="col-form-label ">Descrição:</label>
                            <textarea class="form-control " id="message-text " formControlName="descricao"></textarea>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="mb-3 col ">
                            <label for="cartao-dataFechamentoFatura" class="col-form-label ">Data fechamento da fatura:</label>
                            <input type="date" class="form-control " id="cartao-dataFechamentoFatura" formControlName="dataFechamentoFatura">
                        </div>
                        <div class="mb-3 col ">
                            <label for="cartao-dataVencimentoFatura" class="col-form-label ">Data vencimento da fatura:</label>
                            <input type="date" class="form-control " id="cartao-dataVencimentoFatura" formControlName="dataVencimentoFatura">
                        </div>
                    </div>

                    <div class="row">

                    </div>

                </form>

            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="criarCartao()">Salvar</button>
            </div>
        </div>
    </div>
</div>
