.btn-size-add-cc {
    width: 200px;
    height: 200px;
    font-size: 65px;
}

.mobile-social-share {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block !important;
    min-height: 70px !important;
    margin: 50px 0;
}

body {
    color: #777777;
    font-family: "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-size: 13px;
    line-height: 19.5px;
}

a:active {
    background-color: transparent;
}

a {
    cursor: pointer;
}

.iconBandeiraCC {
    width: 50px;
}

.center {
    text-align: center;
}
